body {
    text-align: center;
    margin: 0;
    color: #333;
    font-family: Georgia, serif;
}

.logo {
    width: 200px;
    margin: 1rem;
}

.slogan {
    background-color: #fefbf1;
    padding: 3px;
    border-top: 1px solid #ffd977;
    color: #004d4d;
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

#content {
    width: 50%;
    text-align: center;
    margin: auto;
}

#content p {
    text-align: justify;
}

#content img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 30px 2px #555555;
    -webkit-box-shadow: 5px 5px 30px 2px #555555;
    -moz-box-shadow: 5px 5px 30px 2px #555555;
}

.author {
    color: grey; 
    text-align: center;
}

#featured {
    text-align: left;
    width: 50%;
    border-left: 1px solid #ffd977;
    padding-left: 1rem;
    margin-top: 2rem;
    margin: auto;
}

#featured span {
    color: #b5460f;
    display: block;
}

#featured a,
#link {
    color: #004d4d;
}

main {
    margin-top: 4rem;
    width: 50%;
    margin: auto;
}

main div {
    text-align: left;
}

h2 {
    border-bottom: 1px solid #004d4d;
    margin-bottom: 2rem;
    text-align: left;
    font-weight: 100;
    padding: 1rem;
}

ul {
    margin-bottom: 2rem;
}

li {
    margin-bottom: 1rem;
}

footer {
    margin: auto;
    width: 50%;
    text-align: left;
}